@charset "UTF-8";


html, body{
    background: url(../imagens/cev-landscape.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 100vh;
   margin: 0px;
   background-attachment: fixed;
}