@charset "UTF-8";

/* mobile first */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,html{
    height: 100vh;
}

body{
    background: black url(../imagens/back-phone.jpg) no-repeat center center;
    background-size: cover;
}

main h1{
    background-color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.61);
}